@charset "utf-8";

/*

CSS for Project 1 - 4 

*/


/* Body Styles */

body {
    margin-left: auto;
    margin-right: auto;
    min-width: 640px;
    max-width: 960px;
    width: 85%;
    background-color: #194747;
    font-family: Georiga, Garamond, serif;
}


/* Body Header Styles */

body > header {
    display:block;
    width: 100%;
    background-color: #759090;
}

body > header > nav.horizontalNavigation li {
    width: 30%;
}

h1 {
    font-size: 3em;
    line-height: 1.5em;
    vertical-align: middle;
    text-align: center;
    color: #b9c5c5;
}

h2 {
    font-size: 1.5em;
    line-height: 1em;
    color: #b9c5c5;
}

h3 {
    font-size: 2em;
    line-height: 2.5em;
    color: #b9c5c5;
    text-align: center;
}

article:first-of-type::first-letter {
    float:left;
    font-size: 40px;
    line-height: 0.7em;
    color: #b9c5c5;
    font-family: serif;
}

/* Horizontal Navigation Styles */

nav.horizontalNavigation li {
    display:inline-table;
    text-align: center;
    padding: 5px;
    background-color: #759090;
    border: 5px outset white;
    font-size: 20px;
    font-family: New Century Schoolbook, serif;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

nav.horizontalNavigation a:hover,
nav.horizontalNavigation a:active {
    background-color: #143838;
    text-decoration: none;
}

/* Left Column Styles */

section#leftColumn {
    clear: left;
    float: left;
    padding: 30px;
    box-sizing: border-box;
    width: 60%;
    background-color: #759090;
    border: 10px outset white;
}

/* Right Column Styles */

section#rightColumn {
    clear: right;
    float: right;
    padding: 30px;
    box-sizing: border-box;
    width: 40%;
    background-color: #759090;
    border: 10px outset white;
}

section#rightColumn img {
    display: block;
    width: 100%;
}

/* Footer Styles */

footer {
    background-color: #759090;
    clear: both;
    padding: 20px;
    border: 10px outset white;   
}
